<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/shipInfo.css}">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/css/all.css" rel="stylesheet">
    <title th:text="${ship.name}"></title>
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
    <div id="overlay-layer"></div>
    <div id="outer-container">
        <div id="inner-container">

            <div id="image-layer">
                <div id="image-container">
                    <img th:style="'top: '+${imagePos.top} + 'px; left: ' + ${imagePos.left} + 'px;'"
                         th:src="@{'/images/ship_images/'+ ${ship.id} + '.png'}" alt=""
                         th:width="${imagePos.width}" th:height="${imagePos.height}">
                </div>
            </div>
            <div id="info-layer">

                <div id="left-info">
                    <div id="skin-button">
                        <img th:src="@{'/images/skin_icon.jpg'}" alt="">
                    </div>
                    <div id="skin-option-container">
                        <div class="next-arrow">
                            <img th:src="@{'/images/left-arrow.png'}" alt="">
                        </div>
                        <div id="skin-inner-container">
                            <div id="skin-option-wrapper">
                                <div class="skin-option">
                                    <img src="../static/images/skin_icons/1024px-New_JerseySummer.png" alt="" width="870" height="701" style="left: -357.982px; top: -223.981px;">
                                </div>
                                <div class="skin-option">
                                    <img src="../static/images/skin_icons/1102px-New_JerseyBunny.png" alt="" width="870" height="701" style="left: -353.998px; top: -174.97px;">
                                </div>
                                <div class="skin-option">
                                    <img src="../static/images/skin_icons/698px-New_JerseyWedding.png" alt="" width="1012" height="1196" style="left: -334.289px; top: -271.979px;">
                                </div>
                                <div class="skin-option">
                                    <img src="../static/images/skin_icons/698px-New_JerseyWedding.png" alt="" width="1012" height="1196" style="left: -334.289px; top: -271.979px;">
                                </div>
                                <div class="skin-option">
                                    <img src="../static/images/skin_icons/698px-New_JerseyWedding.png" alt="" width="1012" height="1196" style="left: -334.289px; top: -271.979px;">
                                </div>
                                <div class="skin-option">
                                    <img src="../static/images/skin_icons/698px-New_JerseyWedding.png" alt="" width="1012" height="1196" style="left: -334.289px; top: -271.979px;">
                                </div>
                                <div class="skin-option">
                                    <img src="../static/images/skin_icons/698px-New_JerseyWedding.png" alt="" width="1012" height="1196" style="left: -334.289px; top: -271.979px;">
                                </div>
                            </div>
                        </div>
                        <div class="next-arrow">
                            <img th:src="@{'/images/right-arrow.png'}" alt="">
                        </div>
                    </div>
                    <div id="info-collapse-button">
                        <img th:src="@{'/images/collapse.png'}" alt="">
                    </div>
                </div>

                <div id="right-info">
                    <div id="right-info-container">
                        <div id="info-menu">
                            <div id="title-container">
                                <div id="ship-name-title" th:text="${ship.name}">Specialized Bulin Custom MKIII</div>
                                <div id="ship-construction" style="color: yellow;" th:text="${ship.acquisition}">Research</div>
                                <div id="ship-nation-info">

                                    <div id="class-name" th:text="${ship.ship_class}">Plymouth</div>

                                    <div id="nation-icon-outer">
                                        <div id="nation-icon-container">
                                            <img th:src="@{'/images/nation_icons/' + ${ship.faction_link} + '.png'}" alt="">
                                        </div>
                                    </div>
                                    
                                    <div id="nation-name" th:text="${ship.faction}">Northern Parliament</div>
                                </div>
                            </div>

                            <div id="basic-info-container">
                                <div id="rarity-info-container">
                                    <div id="rarity-icon-container">
                                        <img th:src="@{'/images/rarity_icons/' + ${ship.rarity_link} + '.png'}" alt="">
                                    </div>
                                    <div id="rarity-info" th:class="${ship.rarity_class}">
                                        <div id="rarity-text" th:text="${ship.rarity}">Ultra Rare</div>
                                        <div>
                                            <i class="fa fa-star" th:each="number : ${#numbers.sequence(1, ship.star_num)}"></i>
                                        </div>
                                    </div>
                                </div>

                                <div id="class-info-container">
                                    <span class="class-info-l">Class</span>
                                    <div id="class-icon">
                                        <img th:src="@{'/images/type_icons/' + ${ship.classification_link} + '.png'}" alt="">
                                    </div>
                                    <span class="class-info-r" th:text="${ship.classification}">Light Aircraft Carrier</span>
                                </div>

                                <div id="armor-info-container">
                                    <span class="class-info-l">Armor</span>
                                    <div id="armor-icon">
                                        <img th:src="@{'/images/stat_icons/stat_armor.png'}" alt="armor">
                                    </div>
                                    <span class="class-info-r" style="min-width: 88px;" th:text="${ship.armor}">Medium</span>
                                </div>
                            </div>

                            <div id="gear-info-container">
                                <div id="gear-inner-container">
                                    <div id="gear-header-title">Gear</div>
                                    <div id="gear-info-inner">
                                        <div id="equipt-info">
                                            <div class="gear-col">
                                                <div class="gear-title-container">
                                                    <span class="gear-title" th:text="${gearSlot.equipment1}">BB Main Guns</span>
                                                    <div class="gear-icon"><img th:src="@{'/images/gear_icons/bbmaingun.png'}" alt=""></div>
                                                </div>
                                                <div class="gear-info">
                                                    <div class="efficiency-info">
                                                        <span th:text="'Efficiency '+ ${gearSlot.efficiency1_num[0]} + ' -> '"></span>
                                                        <span th:text="${gearSlot.efficiency1_num[1]}"></span>
                                                    </div>
                                                    <div class="mount-info">Main Gun Mount:
                                                        <span th:text="${gearSlot.mount_num1}">3</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gear-col">
                                                <div class="gear-title-container">
                                                    <span class="gear-title" th:text="${gearSlot.equipment2}">CL/DD Main Guns</span>
                                                    <div class="gear-icon"><img th:src="@{'/images/gear_icons/topedoes.png'}" alt=""></div>
                                                </div>
                                                <div class="gear-info">
                                                    <div class="efficiency-info">
                                                        <span th:text="'Efficiency '+ ${gearSlot.efficiency2_num[0]} + ' -> '"></span>
                                                        <span th:text="${gearSlot.efficiency2_num[1]}"></span>
                                                    </div>
                                                    <div class="mount-info">Secondary Gun Base:
                                                        <span th:text="${gearSlot.mount_num2}">3</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gear-col">
                                                <div class="gear-title-container">
                                                    <span class="gear-title">Anti-Air Guns / CA Main Guns</span>
                                                    <div class="gear-icon"><img th:src="@{'/images/gear_icons/antiair.png'}" alt=""></div>
                                                </div>
                                                <div class="gear-info">
                                                    <div class="efficiency-info">
                                                        <span th:text="'Efficiency '+ ${gearSlot.efficiency3_num[0]} + ' -> '"></span>
                                                        <span th:text="${gearSlot.efficiency3_num[1]}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="augment-info">
                                            <div class="gear-col" style="width: unset;">
                                                <div class="gear-title-container">
                                                    <span>Augment</span>
                                                    <div class="gear-icon"><img th:src="@{'/images/gear_icons/augment.png'}" alt=""></div>
                                                </div>
                                                <div class="gear-info">
                                                    <span id="augment-type" th:text="${ship.class_augment}">Bow and gun</span>
                                                </div>
                                            </div>
                                            <div class="gear-col" id="augment-icon-container" style="width: unset;">
                                                <div class="gear-col" style="color: white; width: unset">
                                                    <span id="augment-name" style="display: inline-block; text-align: center;"
                                                    th:if="${augment != null}">Templar Knight's Battle Standard</span>
                                                </div>
                                                <div th:if="${augment != null}">
                                                    <img th:src="@{'/images/augment_icons/' + ${ship.id} + '.png'}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="stat-container">
                                <div id="lv-container">
                                    <div class="stat-lv-button switch-stat-lv">Lv 120</div>
                                    <div class="stat-lv-button">Lv 125</div>
                                </div>
                                <div id="lv-header-container">
                                    <div id="lv-title-header">120</div>
                                    <div id="stat-title-header">Stats</div>
                                </div>
                                <div id="stat-info-container">
                                    <div id="stat-info-inner">
                                        <div class="stat-wrapper" th:each="entry : ${stat120.stats.entrySet()}">
                                            <div class="stat-header" th:text="${entry.key}">Health
                                                <img th:src="@{'/images/stat_icons/stat_' + ${#string.toLowerCase(entry.key)} + '.png'}" alt="">
                                            </div>
                                            <div class="stat-info" th:text="${entry.value}">10000</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="skill-container">
                                <div id="skill-num-container">
                                    <div class="skill_num" th:each="number : ${#numbers.sequence(1, skill_num)}" th:text="'Skill ' + ${number}">Skill 1</div>
                                </div>
                                <div id="skill-header-container">
                                    <div id="skill-num-header">Skill 1</div>
                                    <div id="skill-title-header" th:text="${skill1.skill_name}">Dragon's Breath</div>
                                    <div id="fate-skill-title-header" th:text="${fate_skill1?.skill_name}">Dragon's Breath</div>
                                    <div id="skill-icon"><img th:src="@{'/images/skill_icons/skill_14510.png'}" alt=""></div>
                                    <div id="fate-button" th:style="${fate} ? 'inline-button' : 'display: none;'">
                                        <div id="fate-text" class="switching-text">Fate</div>
                                        <div id="fate-switch-icon"><img class="switching" id="switch-icon" th:src="@{'/images/reload.png'}" alt=""></div>
                                    </div>
                                </div>
                                <div id="default-skill-container" class="skill-info-container">
                                    <pre id="skill-description" th:text="${skill1.skill_description}">
                                        When this ship fires her Main Guns: 50% (100%) chance to fire a Lv.1 (Lv.10) special barrage that always deals Critical Hits (DMG is based on the skill's level). Additionally, 10s after the battle starts: fires this same barrage.<br>
                                        (The barrage pattern is independent of this ship's position in the Main Fleet. It inflicts Armor Break to enemies it hits. Armor-Broken enemies take 5% more DMG for 8s. This Armor Break also stacks with other sources of Armor Break.)
                                    </pre>
                                </div>
                                <div id="fate-skill-container" class="skill-info-container" th:style="${fate_desc} ? '' : 'display: none;'">
                                    <pre id="fate-skill-description" th:text="${fate_skill1?.skill_description}"></pre>
                                </div>
                            </div>

                            <div style="height: 200px;"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script th:inline="javascript">window.ship_id = /*[[${ship.id}]]*/ null;</script>
    <script th:src="@{/js/ship_info-skill.js}" type="text/javascript"></script>
    <script th:src="@{/js/ship_info-stat.js}" type="text/javascript"></script>
    <script th:src="@{/js/ship_info.js}" type="text/javascript"></script>

    <script>
        const draggableImage = document.getElementById('draggableImage');
        const draggContainer = document.getElementById('image-container');
        let isDragging = false;

        // Store initial position
        let initialX, initialY;

        // Store the offset between the mouse click and the image's top-left corner
        let xOffset, yOffset;

        // Store the initial image scale
        let scale = 1;

        let initialWidth = draggableImage.width;
        let initialHeight = draggableImage.height;

        // Function to handle mouse down event
        draggableImage.addEventListener('mousedown', (e) => {
            e.preventDefault();
            isDragging = true;
            initialX = draggableImage.getBoundingClientRect().left;
            initialY = draggableImage.getBoundingClientRect().top;

            xOffset = e.clientX;
            yOffset = e.clientY;
        });

        // Function to handle mouse move event
        document.addEventListener('mousemove', (e) => {
            if (!isDragging) return;
            let containerX = draggContainer.getBoundingClientRect().left;
            let containerY = draggContainer.getBoundingClientRect().top;

            var x = initialX + (e.clientX - xOffset) - containerX;
            var y = initialY + (e.clientY - yOffset) - containerY;

            console.log("Initial", initialX, " ", initialY);
            console.log("Offset", xOffset, " ", yOffset);
            console.log("Client", e.clientX, " ", e.clientY);
            console.log("Container", draggContainer.getBoundingClientRect().left, " ", draggContainer.getBoundingClientRect().top);
            console.log("New", x, " ", y);

            draggableImage.style.left = x + 'px';
            draggableImage.style.top = y + 'px';
        });

        // Function to handle mouse up event
        document.addEventListener('mouseup', () => {
            isDragging = false;
        });

        // Function to handle mouse wheel event
        draggableImage.addEventListener('wheel', (e) => {
            e.preventDefault();
            
            // Calculate the new scale based on the mouse scroll direction
            scale += e.deltaY * -0.0001;
            
            // Limit the minimum and maximum scale
            scale = Math.min(Math.max(0.3, scale), 3);

            width = parseInt(scale * initialWidth);
            height = parseInt(scale * initialHeight);

            draggableImage.width = width;
            draggableImage.height = height;

        });
    </script>
    <script>
        let skinbutton = document.getElementById("skin-button");
        let skindisplay = document.getElementById("skin-option-container");

        overlay = document.getElementById("overlay-layer");
        overlay.addEventListener("click", () => {
            overlay.style.display = "none";
            skindisplay.style.display = "none";
        });

        skinbutton.addEventListener("click", () => {
            display = skindisplay.style.display;
            skindisplay.style.display = (display == "flex") ? "none" : "flex";
            overlay.style.display = "block";
        });

    </script>


</body>
</html>